.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  margin: 10px;
  text-align: center;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card h1 {
  font-size: 20px;
  margin: 10px 0 5px 0;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}
